.ProductCard {
  background: transparent;
  border-radius: var(--radius);
  color: #222;
  transition: 0.3s;
  border: 2px solid #222;
  overflow: hidden;
}
.ProductCard:hover {
  border: 2px solid #0070f3;
  color: #0070f3;
}
.thumbnail {
  position: relative;
  height: 300px;
}
.thumbnail img {
  object-fit: cover;
}
.namePrice {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
.name {
  font-size: 16px;
}
